<amp-story-page id="hagvvhkhiob" class="hagvvhkhio ms-st-pg" auto-advance-after="10000ms">
  <amp-story-grid-layer template="fill" class="pbulkjwp">
    <div class="pbulkjw"></div>
  </amp-story-grid-layer>

  <amp-story-grid-layer template="vertical" id="omdgq" class="scrim">
    <div class="letterbox">
      <div class="nzaxq pa nzaxq-a">
        <h5 class="nljkx pa">WORK</h5>
        <h2 class="sttpq pa">Freezer Flag by Steak-umm! It’s a miniature light activated flag!!
</h2>
      </div>
      <h6 class="foqgw pa foqgw-a">March 2025</h6>
      <span class="pmkku pa">
        Click Here
        <a
          href="https://adage.com/article/special-report-agency-list-creativity-awards/tombras-best-agencies-2025/2603541/"
          role="link"
          data-tooltip-text="Click Here"
          class="story-tooltip pa"
          data-tooltip-icon="https://www.google.com/s2/favicons?domain=https://adage.com/article/special-report-agency-list-creativity-awards/tombras-best-agencies-2025/2603541/"
          data-vars-ctalink="https://adage.com/article/special-report-agency-list-creativity-awards/tombras-best-agencies-2025/2603541/">
        </a>
      </span>
      <amp-video
        class="jpbkc pa"
        layout="responsive"
        width="640"
        height="360"
        poster=""
        autoplay
        alt="podcast"
        id="hgajlbldbp">
        <source src="assets/freezerflag.mp4" type="video/mp4">
      </amp-video>
    </div>
  </amp-story-grid-layer>

  <amp-story-animation layout="nodisplay" trigger="visibility">
    <script type="application/json">
      [
        {
          "selector": ".nzaxq-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            { "offset": 0, "opacity": 0, "visibility": "visible" },
            { "offset": 1, "opacity": "1", "visibility": "visible" }
          ]
        },
        {
          "selector": ".foqgw-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            { "offset": 0, "transform": "translateX(-332px)", "opacity": "1", "visibility": "visible" },
            { "offset": 1, "transform": "translateX(0)", "opacity": "1", "visibility": "visible" }
          ]
        }
      ]
    </script>
  </amp-story-animation>
</amp-story-page>