<amp-story-page
  id="kzmxqgyvek"
  class="kzmxqgyvek ms-st-pg i-amphtml-element i-amphtml-layout-container i-amphtml-built i-amphtml-layout i-amphtml-story-page-loaded"
  i-amphtml-layout="container"
  role="region"
  distance="0"
  aria-hidden="false"
  active=""
>
  <amp-story-grid-layer
    template="fill"
    class="pbguoubp i-amphtml-element i-amphtml-layout-container i-amphtml-story-layer i-amphtml-built i-amphtml-layout"
    i-amphtml-layout="container"
  >
    <amp-video
      class="pbguoub i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-disable-mediasession i-amphtml-poolbound i-amphtml-media-component i-amphtml-video-interface i-amphtml-built i-amphtml-layout"
      layout="responsive"
      width="720"
      height="1280"
      poster=""
      autoplay=""
      muted=""
      id="pbvkzmxqgyvek"
      i-amphtml-layout="responsive"
      preload="auto"
    >
      <i-amphtml-sizer
        slot="i-amphtml-svc"
        style="padding-top: 177.778%;"
      ></i-amphtml-sizer>
      <video
        class="i-amphtml-pool-media i-amphtml-pool-video i-amphtml-fill-content i-amphtml-replaced-content"
        id="i-amphtml-pool-media-4"
        playsinline=""
        webkit-playsinline=""
        preload="auto"
        poster=""
        muted=""
      >
        <source
          src="assets/google.mp4"
          type="video/mp4"
        />
      </video>
      <i-amphtml-video-icon class="amp-video-eq">
        <div class="amp-video-eq-col">
          <div class="amp-video-eq-filler amp-video-eq-1-1"></div>
          <div class="amp-video-eq-filler amp-video-eq-1-2"></div>
        </div>
        <div class="amp-video-eq-col">
          <div class="amp-video-eq-filler amp-video-eq-2-1"></div>
          <div class="amp-video-eq-filler amp-video-eq-2-2"></div>
        </div>
        <div class="amp-video-eq-col">
          <div class="amp-video-eq-filler amp-video-eq-3-1"></div>
          <div class="amp-video-eq-filler amp-video-eq-3-2"></div>
        </div>
        <div class="amp-video-eq-col">
          <div class="amp-video-eq-filler amp-video-eq-4-1"></div>
          <div class="amp-video-eq-filler amp-video-eq-4-2"></div>
        </div>
      </i-amphtml-video-icon>
    </amp-video>
  </amp-story-grid-layer>

  <div
    class="i-amphtml-story-spinner"
    aria-hidden="true"
    aria-label="Loading video"
  >
    <div class="i-amphtml-story-spinner-container">
      <div class="i-amphtml-story-spinner-layer">
        <div class="i-amphtml-story-spinner-circle-clipper left"></div>
        <div class="i-amphtml-story-spinner-circle-clipper right"></div>
      </div>
    </div>
  </div>
</amp-story-page>
