<amp-story-page id="voepopfbrb" class="voepopfbrb ms-st-pg" auto-advance-after="5000ms">
  <amp-story-grid-layer template="fill" class="pbjtjeop">
    <div class="pbjtjeo"></div>
  </amp-story-grid-layer>

  <amp-story-grid-layer template="vertical" id="tdqps" class="scrim">
    <div class="letterbox">
      <div class="kmrmr pa kmrmr-a">
        <h5 class="kknts pa">QUOTE</h5>
        <h2 class="wtklu pa">
          STEAK-UMM WARNS OF DANGERS OF DEEPFAKES IN ‘DEEPSTEAKS’ PRANK VIDEO
        </h2>
      </div>
      <h6 class="ltiwk pa ltiwk-a">NoV 2023</h6>
      <span class="ssnpf pa">
        Click Here
        <a
          href="https://adage.com/article/marketing-news-strategy/steak-umm-warns-dangers-deepfakes-deepsteaks-prank-video/2525681"
          role="link"
          data-tooltip-text="Click Here"
          class="story-tooltip pa"
          data-tooltip-icon="https://www.google.com/s2/favicons?domain=https://adage.com/article/marketing-news-strategy/steak-umm-warns-dangers-deepfakes-deepsteaks-prank-video/2525681"
          data-vars-ctalink="https://adage.com/article/marketing-news-strategy/steak-umm-warns-dangers-deepfakes-deepsteaks-prank-video/2525681">
        </a>
      </span>
      <div class="kjlga pa">
        <amp-img
          width="919"
          height="684"
          layout="responsive"
          class="img-fill pa"
          src="assets/5-dsdmjttpju.jpeg"
          alt="roblox">
        </amp-img>
      </div>
    </div>
  </amp-story-grid-layer>

  <amp-story-animation layout="nodisplay" trigger="visibility">
    <script type="application/json">
      [
        {
          "selector": ".kmrmr-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            { "offset": 0, "opacity": 0, "visibility": "visible" },
            { "offset": 1, "opacity": "1", "visibility": "visible" }
          ]
        },
        {
          "selector": ".ltiwk-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            {
              "offset": 0,
              "transform": "translateX(-332px)",
              "opacity": "1",
              "visibility": "visible"
            },
            {
              "offset": 1,
              "transform": "translateX(0)",
              "opacity": "1",
              "visibility": "visible"
            }
          ]
        }
      ]
    </script>
  </amp-story-animation>
</amp-story-page>