<amp-story-page id="wknpcnwwve" class="wknpcnwwve ms-st-pg" auto-advance-after="5000ms">
  <amp-story-grid-layer template="fill" class="pbbpxzkp">
    <div class="pbbpxzk"></div>
  </amp-story-grid-layer>

  <amp-story-grid-layer template="vertical" id="rdbgk" class="scrim">
    <div class="letterbox">
      <h6 class="kcojp pa kcojp-a">June 2021</h6>
      <span class="cqjsk pa">
        Click Here
        <a
          href="https://www.cioapplications.com/magazines/June2021/Chatbot/"
          role="link"
          data-tooltip-text="Click Here"
          class="story-tooltip pa"
          data-tooltip-icon="https://www.google.com/s2/favicons?domain=https://www.cioapplications.com/magazines/June2021/Chatbot/"
          data-vars-ctalink="https://www.cioapplications.com/magazines/June2021/Chatbot/">
        </a>
      </span>
      <div class="fqrzk pa">
        <amp-img
          width="1100"
          height="1252"
          layout="responsive"
          class="img-fill pa"
          src="assets/Screen_Shot_2021-06-18_at_10-ms-xnyhbiontt-rbaqejzduv.png"
          alt="magazine cover">
        </amp-img>
      </div>
    </div>
  </amp-story-grid-layer>

  <amp-story-animation layout="nodisplay" trigger="visibility">
    <script type="application/json">
      [
        {
          "selector": ".kcojp-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            {
              "offset": 0,
              "transform": "translateX(-332px)",
              "opacity": "1",
              "visibility": "visible"
            },
            {
              "offset": 1,
              "transform": "translateX(0)",
              "opacity": "1",
              "visibility": "visible"
            }
          ]
        }
      ]
    </script>
  </amp-story-animation>
</amp-story-page>