<amp-story-page id="ktopwhjgyr" class="ktopwhjgyr ms-st-pg" auto-advance-after="5000ms">
  <amp-story-grid-layer template="fill" class="pbtbmeep">
    <div class="pbtbmee"></div>
  </amp-story-grid-layer>

  <amp-story-grid-layer template="vertical" id="owdtt" class="scrim">
    <div class="letterbox">
      <div class="xexro pa xexro-a">
        <h5 class="jlzfi pa">PANELIST</h5>
        <h2 class="kcjeo pa">Panelist at AfroTech happy hour event</h2>
      </div>
      <h6 class="ibzrk pa ibzrk-a">NOV 2019</h6>
      <amp-video
        class="jpbkc pa"
        layout="responsive"
        width="720"
        height="1280"
        poster=""
        autoplay
        alt="podcast"
        id="hgajlbldbp">
        <source src="assets/14-lgulitslpq.mp4" type="video/mp4">
      </amp-video>
    </div>
  </amp-story-grid-layer>

  <amp-story-animation layout="nodisplay" trigger="visibility">
    <script type="application/json">
      [
        {
          "selector": ".xexro-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            { "offset": 0, "opacity": 0, "visibility": "visible" },
            { "offset": 1, "opacity": "1", "visibility": "visible" }
          ]
        },
        {
          "selector": ".ibzrk-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            {
              "offset": 0,
              "transform": "translateX(-332px)",
              "opacity": "1",
              "visibility": "visible"
            },
            {
              "offset": 1,
              "transform": "translateX(0)",
              "opacity": "1",
              "visibility": "visible"
            }
          ]
        }
      ]
    </script>
  </amp-story-animation>
</amp-story-page>