<amp-story-page id="nsnzrfufqc" class="nsnzrfufqc ms-st-pg" auto-advance-after="5000ms">
  <amp-story-grid-layer template="fill" class="pbujpiap">
    <div class="pbujpia"></div>
  </amp-story-grid-layer>

  <amp-story-grid-layer template="vertical" id="mklbf" class="scrim">
    <div class="letterbox">
      <div class="lzdcd pa lzdcd-a">
        <h5 class="txjtg pa">ARTICLE</h5>
        <h2 class="ksznm pa">
          ADWEEK: Tech Companies Need to Improve Their Voice Assistants to Make Them Inclusive
        </h2>
      </div>
      <h6 class="ltuwi pa ltuwi-a">NOV 2017</h6>
      <span class="ptxda pa">
        Click Here
        <a
          href="https://www.adweek.com/digital/tech-companies-need-to-improve-their-voice-assistants-to-make-them-inclusive-for-all-users/"
          role="link"
          data-tooltip-text="Click Here"
          class="story-tooltip pa"
          data-tooltip-icon="https://www.google.com/s2/favicons?domain=https://www.adweek.com/digital/tech-companies-need-to-improve-their-voice-assistants-to-make-them-inclusive-for-all-users/"
          data-vars-ctalink="https://www.adweek.com/digital/tech-companies-need-to-improve-their-voice-assistants-to-make-them-inclusive-for-all-users/">
        </a>
      </span>
      <div class="bbljs pa">
        <amp-img
          width="1320"
          height="660"
          layout="responsive"
          class="img-fill pa"
          src="assets/24-xbvbphgzru.gif"
          alt="amazon">
        </amp-img>
      </div>
    </div>
  </amp-story-grid-layer>

  <amp-story-animation layout="nodisplay" trigger="visibility">
    <script type="application/json">
      [
        {
          "selector": ".lzdcd-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            { "offset": 0, "opacity": 0, "visibility": "visible" },
            { "offset": 1, "opacity": "1", "visibility": "visible" }
          ]
        },
        {
          "selector": ".ltuwi-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            {
              "offset": 0,
              "transform": "translateX(-332px)",
              "opacity": "1",
              "visibility": "visible"
            },
            {
              "offset": 1,
              "transform": "translateX(0)",
              "opacity": "1",
              "visibility": "visible"
            }
          ]
        }
      ]
    </script>
  </amp-story-animation>
</amp-story-page>