<amp-story-page id="aklmvecujp" class="aklmvecujp ms-st-pg" auto-advance-after="5000ms"> 
	<amp-story-grid-layer template="fill" class="pbobwkpp"> 
		<amp-img width="720" height="1280" layout="responsive" class="pbobwkp" id="aklmvecujp-bg" src="assets/1-lbofbtlotq.jpeg" alt="John"></amp-img> 
	</amp-story-grid-layer> 

	<amp-story-grid-layer template="vertical" id="krqcu" class="scrim">
		<div class="letterbox"> 
			<h1 class="kwzju pa">Juan(John)<br>Tubert!</h1> 
			<h6 class="uonbi pa">https://www.linkedin.com/in/jtubert/</h6> 
			<h6 class="ejcin pa">CTO @ Tombras</h6> 
			<div class="iandz pa">
				<amp-img width="424" height="119" layout="responsive" class="img-fill pa" src="assets/tombras2-ms-sjscprtnft.png" alt="logo">
				</amp-img>
			</div>
		</div>
	</amp-story-grid-layer> 
</amp-story-page>