<amp-story-page id="wxbvttdure" class="wxbvttdure ms-st-pg" auto-advance-after="5000ms">
  <amp-story-grid-layer template="fill" class="pbirqmkp">
    <div class="pbirqmk"></div>
  </amp-story-grid-layer>

  <amp-story-grid-layer template="vertical" id="dwfqi" class="scrim">
    <div class="letterbox">
      <div class="xqsul pa xqsul-a">
        <h5 class="ijekf pa">ARTICLE</h5>
        <h2 class="sktow pa">
          HOW TOMBRAS USED GEMINI TO CREATE OVER 6,000 HYPERLOCAL ADS FOR PODS
        </h2>
      </div>
      <h6 class="jjpmi pa jjpmi-a">JUN 2024</h6>
      <span class="tjkpo pa">
        Click Here
        <a
          href="https://adage.com/article/special-report-cannes-lions/how-tombras-used-ai-create-6000-location-based-ads-pods/2566186"
          role="link"
          data-tooltip-text="Click Here"
          class="story-tooltip pa"
          data-tooltip-icon="https://www.google.com/s2/favicons?domain=https://adage.com/article/special-report-cannes-lions/how-tombras-used-ai-create-6000-location-based-ads-pods/2566186"
          data-vars-ctalink="https://adage.com/article/special-report-cannes-lions/how-tombras-used-ai-create-6000-location-based-ads-pods/2566186">
        </a>
      </span>
      <div class="nflwd pa">
        <amp-img
          width="919"
          height="684"
          layout="responsive"
          class="img-fill pa"
          src="assets/Screenshot_2025-06-05_at_9-kimvmimsvi.png"
          alt="roblox">
        </amp-img>
      </div>
    </div>
  </amp-story-grid-layer>

  <amp-story-animation layout="nodisplay" trigger="visibility">
    <script type="application/json">
      [
        {
          "selector": ".xqsul-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            { "offset": 0, "opacity": 0, "visibility": "visible" },
            { "offset": 1, "opacity": "1", "visibility": "visible" }
          ]
        },
        {
          "selector": ".jjpmi-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            {
              "offset": 0,
              "transform": "translateX(-332px)",
              "opacity": "1",
              "visibility": "visible"
            },
            {
              "offset": 1,
              "transform": "translateX(0)",
              "opacity": "1",
              "visibility": "visible"
            }
          ]
        }
      ]
    </script>
  </amp-story-animation>
</amp-story-page>