<amp-story-page id="rushjrufwn" class="rushjrufwn ms-st-pg" auto-advance-after="5000ms">
  <amp-story-grid-layer template="fill" class="pbitwgzp">
    <div class="pbitwgz"></div>
  </amp-story-grid-layer>

  <amp-story-grid-layer template="vertical" id="agwmx" class="scrim">
    <div class="letterbox">
      <div class="xatrq pa xatrq-a">
        <h5 class="nfdng pa">ARTICLE</h5>
        <h2 class="mrftw pa">Lessons learned from R/GA's award-winning Alexa skill for Ubisoft</h2>
      </div>
      <h6 class="fezwp pa fezwp-a">AUG 2019</h6>
      <span class="uzxpx pa">
        Click Here
        <a
          href="https://www.rga.com/futurevision/pov/designing-ai-voice-with-swagger"
          role="link"
          data-tooltip-text="Click Here"
          class="story-tooltip pa"
          data-tooltip-icon="https://www.google.com/s2/favicons?domain=https://www.rga.com/futurevision/pov/designing-ai-voice-with-swagger"
          data-vars-ctalink="https://www.rga.com/futurevision/pov/designing-ai-voice-with-swagger">
        </a>
      </span>
      <div class="arrul pa">
        <amp-img
          width="2520"
          height="1008"
          layout="responsive"
          class="img-fill pa"
          src="assets/18-ahilunrtmr.jpeg"
          alt="alexios">
        </amp-img>
      </div>
    </div>
  </amp-story-grid-layer>

  <amp-story-animation layout="nodisplay" trigger="visibility">
    <script type="application/json">
      [
        {
          "selector": ".xatrq-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            { "offset": 0, "opacity": 0, "visibility": "visible" },
            { "offset": 1, "opacity": "1", "visibility": "visible" }
          ]
        },
        {
          "selector": ".fezwp-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            {
              "offset": 0,
              "transform": "translateX(-332px)",
              "opacity": "1",
              "visibility": "visible"
            },
            {
              "offset": 1,
              "transform": "translateX(0)",
              "opacity": "1",
              "visibility": "visible"
            }
          ]
        }
      ]
    </script>
  </amp-story-animation>
</amp-story-page>