<amp-story-page id="wucqdleqfj" class="wucqdleqfj ms-st-pg" auto-advance-after="5000ms">
  <amp-story-grid-layer template="fill" class="pbdpclbp">
    <div class="pbdpclb"></div>
  </amp-story-grid-layer>

  <amp-story-grid-layer template="vertical" id="xfaep" class="scrim">
    <div class="letterbox">
      <div class="opjia pa opjia-a">
        <h5 class="aaqcs pa">TALK</h5>
        <h2 class="rjlzw pa">SXSW talk about the danger of bias in AI</h2>
      </div>
      <h6 class="bnfmw pa bnfmw-a">MAR 2019</h6>
      <span class="mcapq pa">
        Click Here
        <a
          href="https://www.youtube.com/watch?v=E_o5guFahhM"
          role="link"
          data-tooltip-text="Click Here"
          class="story-tooltip pa"
          data-tooltip-icon="https://www.google.com/s2/favicons?domain=https://www.youtube.com/watch?v=E_o5guFahhM"
          data-vars-ctalink="https://www.youtube.com/watch?v=E_o5guFahhM">
        </a>
      </span>
      <amp-video
        class="rdkwm pa"
        layout="responsive"
        width="720"
        height="1280"
        poster=""
        autoplay
        id="ycwuphjzur"
        title="video">
        <source src="assets/20-ucvkieuviq.mp4" type="video/mp4">
        <track
          kind="subtitles"
          srclang="en_US"
          src="https://webstories.link/preview/-MNVBQ6cWkqfHOq9JgBM/proxySubtitle?url=https%3A%2F%2Fwww.google.com"
          default>
      </amp-video>
      <h2 class="qrxpi pa">
        Extreme<br>
        Dangers<br>
        of Bias <br>
        in AI
      </h2>
    </div>
  </amp-story-grid-layer>

  <amp-story-animation layout="nodisplay" trigger="visibility">
    <script type="application/json">
      [
        {
          "selector": ".opjia-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            { "offset": 0, "opacity": 0, "visibility": "visible" },
            { "offset": 1, "opacity": "1", "visibility": "visible" }
          ]
        },
        {
          "selector": ".bnfmw-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            {
              "offset": 0,
              "transform": "translateX(-332px)",
              "opacity": "1",
              "visibility": "visible"
            },
            {
              "offset": 1,
              "transform": "translateX(0)",
              "opacity": "1",
              "visibility": "visible"
            }
          ]
        }
      ]
    </script>
  </amp-story-animation>
</amp-story-page>