<amp-story-page id="jzzaulqnuq" class="jzzaulqnuq ms-st-pg" auto-advance-after="5000ms">
  <amp-story-grid-layer template="fill" class="pbsomznp">
    <div class="pbsomzn"></div>
  </amp-story-grid-layer>

  <amp-story-grid-layer template="vertical" id="menco" class="scrim">
    <div class="letterbox">
      <div class="rdont pa rdont-a">
        <h5 class="wzumq pa">ARTICLE</h5>
        <h2 class="bbisz pa">Tombras named independent agency of the year</h2>
      </div>
      <h6 class="tbpig pa tbpig-a">Mar 2024</h6>
      <span class="rbdfg pa">
        Click Here
        <a
          href="https://adage.com/article/special-report-agency-list-creativity-awards/best-agencies-2024-tombras/2542871"
          role="link"
          data-tooltip-text="Click Here"
          class="story-tooltip pa"
          data-tooltip-icon="https://www.google.com/s2/favicons?domain=https://adage.com/article/special-report-agency-list-creativity-awards/best-agencies-2024-tombras/2542871"
          data-vars-ctalink="https://adage.com/article/special-report-agency-list-creativity-awards/best-agencies-2024-tombras/2542871">
        </a>
      </span>
      <div class="lnqoo pa">
        <amp-img
          width="919"
          height="684"
          layout="responsive"
          class="img-fill pa"
          src="assets/2-layymvsohq.jpg"
          alt="roblox">
        </amp-img>
      </div>
    </div>
  </amp-story-grid-layer>

  <amp-story-animation layout="nodisplay" trigger="visibility">
    <script type="application/json">
      [
        {
          "selector": ".rdont-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            { "offset": 0, "opacity": 0, "visibility": "visible" },
            { "offset": 1, "opacity": "1", "visibility": "visible" }
          ]
        },
        {
          "selector": ".tbpig-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            {
              "offset": 0,
              "transform": "translateX(-332px)",
              "opacity": "1",
              "visibility": "visible"
            },
            {
              "offset": 1,
              "transform": "translateX(0)",
              "opacity": "1",
              "visibility": "visible"
            }
          ]
        }
      ]
    </script>
  </amp-story-animation>
</amp-story-page>