<amp-story-page id="taqqctkwne" class="taqqctkwne ms-st-pg" auto-advance-after="5000ms">
  <amp-story-grid-layer template="fill" class="pbsxfnmp">
    <amp-img
      width="720"
      height="1280"
      layout="responsive"
      class="pbsxfnm"
      id="taqqctkwne-bg"
      src="assets/Steak-umm%20Meataversity%20hed%202022-ms-kidmnyaoxn.jpeg"
      alt="metaversity">
    </amp-img>
  </amp-story-grid-layer>

  <amp-story-grid-layer template="vertical" id="rkdop" class="scrim">
    <div class="letterbox">
      <div class="jkfnr pa jkfnr-a">
        <h5 class="fxicn pa">ARTICLE</h5>
        <h2 class="nejjz pa">
          Meataversity<br>
          Decentraland<br>
          experience
        </h2>
      </div>
      <h6 class="nrrda pa nrrda-a">Nov 2022</h6>
      <span class="lboau pa">
        Click Here
        <a
          href="https://musebycl.io/digital-data/steam-umm-isnt-messing-around-it-enters-metaverse"
          role="link"
          data-tooltip-text="Click Here"
          class="story-tooltip pa"
          data-tooltip-icon="https://www.google.com/s2/favicons?domain=https://musebycl.io/digital-data/steam-umm-isnt-messing-around-it-enters-metaverse"
          data-vars-ctalink="https://musebycl.io/digital-data/steam-umm-isnt-messing-around-it-enters-metaverse">
        </a>
      </span>
      <div class="bqfqs pa">
        <amp-img
          width="919"
          height="684"
          layout="responsive"
          class="img-fill pa"
          src="assets/6-zijcjpaljh.jpeg"
          alt="roblox">
        </amp-img>
      </div>
    </div>
  </amp-story-grid-layer>

  <amp-story-animation layout="nodisplay" trigger="visibility">
    <script type="application/json">
      [
        {
          "selector": ".jkfnr-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            { "offset": 0, "opacity": 0, "visibility": "visible" },
            { "offset": 1, "opacity": "1", "visibility": "visible" }
          ]
        },
        {
          "selector": ".nrrda-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            {
              "offset": 0,
              "transform": "translateX(-332px)",
              "opacity": "1",
              "visibility": "visible"
            },
            {
              "offset": 1,
              "transform": "translateX(0)",
              "opacity": "1",
              "visibility": "visible"
            }
          ]
        }
      ]
    </script>
  </amp-story-animation>
</amp-story-page>