<amp-story-page id="pmuzormmps" class="pmuzormmps ms-st-pg" auto-advance-after="5000ms">
  <amp-story-grid-layer template="fill" class="pbemungp">
    <div class="pbemung"></div>
  </amp-story-grid-layer>

  <amp-story-grid-layer template="vertical" id="dfedg" class="scrim">
    <div class="letterbox">
      <div class="dfzql pa dfzql-a">
        <h5 class="mmwpk pa">ARTICLE</h5>
        <h2 class="nlsir pa">The emotional AI</h2>
      </div>
      <h6 class="owxfe pa owxfe-a">May 2021</h6>
      <span class="wlekp pa">
        Click Here
        <a
          href="https://www.commarts.com/columns/the-emotional-ai"
          role="link"
          data-tooltip-text="Click Here"
          class="story-tooltip pa"
          data-tooltip-icon="https://www.google.com/s2/favicons?domain=https://www.commarts.com/columns/the-emotional-ai"
          data-vars-ctalink="https://www.commarts.com/columns/the-emotional-ai">
        </a>
      </span>
      <div class="zgcjq pa">
        <amp-img
          width="919"
          height="684"
          layout="responsive"
          class="img-fill pa"
          src="assets/5-umyzkdfapa.png"
          alt="emotional AI">
        </amp-img>
      </div>
    </div>
  </amp-story-grid-layer>

  <amp-story-animation layout="nodisplay" trigger="visibility">
    <script type="application/json">
      [
        {
          "selector": ".dfzql-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            { "offset": 0, "opacity": 0, "visibility": "visible" },
            { "offset": 1, "opacity": "1", "visibility": "visible" }
          ]
        },
        {
          "selector": ".owxfe-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            {
              "offset": 0,
              "transform": "translateX(-332px)",
              "opacity": "1",
              "visibility": "visible"
            },
            {
              "offset": 1,
              "transform": "translateX(0)",
              "opacity": "1",
              "visibility": "visible"
            }
          ]
        }
      ]
    </script>
  </amp-story-animation>
</amp-story-page>