<amp-story-page id="aklmvecujp" class="pg-cover ms-st-pg" auto-advance-after="hgajlbldbp">

  <amp-story-grid-layer template="fill" class="bleed">
    <amp-video layout="fill" autoplay muted poster="assets/homepage-cover.jpg" id="hgajlbldbp">
      <source src="assets/homepage-cover.mp4" type="video/mp4">
    </amp-video>
  </amp-story-grid-layer>

  <amp-story-grid-layer template="vertical">
    <div class="frame">
      <h1 class="sr-only">Juan Tubert — Chief Technology Officer at Tombras</h1>
    </div>
  </amp-story-grid-layer>

</amp-story-page>
