<amp-story-page id="{{ include.id }}" class="{{ include.id }} ms-st-pg" auto-advance-after="{{ include.autoAdvance }}">
  <amp-story-grid-layer template="fill" class="pbbicrkp">
    <div class="pbbicrk"></div>
  </amp-story-grid-layer>
  
  <amp-story-grid-layer template="vertical" id="orqzp">
    <div class="letterbox">
      <div class="gckup pa svg-el gckup-a">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
          <path d="M5.7,5.7H494.3V494.3H5.7V5.7Z" fill="rgba(252,164,12,0)"></path>
        </svg>
      </div>
      <div class="zibrq pa svg-el">
        <svg xmlns="http://www.w3.org/2000/svg" width="251.212" height="198" viewBox="0 0 251.212 198">
          <path id="mteemjrkot" data-name="Path 11" d="M0,0H251.212L0,198Z" fill="#ffa60c" />
        </svg>
      </div>
      <h1 class="pbizf pa pbizf-a">{{ include.title }}</h1>
      <p class="umocc pa umocc-a">Juan Tubert</p>
      <div class="sfjsi pa svg-el sfjsi-a">
        <svg id="yleutetgyy" data-name="Group 13" xmlns="http://www.w3.org/2000/svg" width="269.875" height="233.147" viewBox="0 0 269.875 233.147">
          <path id="bvmykxweux" data-name="Path 15" d="M.057,203.475a64.413,64.413,0,1,0,43.436-60.731C57.951,59.828,122.609,6.357,62.671,50.365-3.792,99.165-.014,201.512.061,203.387.061,203.417.057,203.443.057,203.475Z" transform="translate(0 -34.571)" fill="#ffa60c" />
          <path id="evglpgtolt" data-name="Path 16" d="M266.118,203.475a64.413,64.413,0,1,0,43.436-60.731C324.011,59.828,388.67,6.357,328.732,50.365c-66.463,48.8-62.685,151.147-62.61,153.023C266.121,203.417,266.118,203.443,266.118,203.475Z" transform="translate(-124.728 -34.571)" fill="#ffa60c" />
        </svg>
      </div>
      <div class="clbxa pa svg-el clbxa-a">
        <svg xmlns="http://www.w3.org/2000/svg" width="340" height="2" viewBox="0 0 340 2">
          <line id="hckemuolxx" data-name="Line 1" x2="340" transform="translate(0 1)" fill="none" stroke="rgba(0,4,24,1)" stroke-width="2" opacity="0.05"></line>
        </svg>
      </div>
    </div>
  </amp-story-grid-layer>
  <amp-story-animation layout="nodisplay" trigger="visibility">
    <script type="application/json">
      [{
        "selector": ".gckup-a",
        "duration": "500ms",
        "fill": "forwards",
        "delay": "0ms",
        "keyframes": [{
          "offset": 0,
          "opacity": 0,
          "visibility": "visible"
        }, {
          "offset": 1,
          "opacity": "1",
          "visibility": "visible"
        }]
      }, {
        "selector": ".pbizf-a",
        "duration": "500ms",
        "fill": "forwards",
        "delay": "1000ms",
        "keyframes": [{
          "offset": 0,
          "transform": "translateX(-257px)",
          "opacity": "1",
          "visibility": "visible"
        }, {
          "offset": 1,
          "transform": "translateX(0)",
          "opacity": "1",
          "visibility": "visible"
        }]
      }, {
        "selector": ".umocc-a",
        "duration": "500ms",
        "fill": "forwards",
        "delay": "1000ms",
        "keyframes": [{
          "offset": 0,
          "transform": "translateX(calc(360px - 81px))",
          "opacity": "1",
          "visibility": "visible"
        }, {
          "offset": 1,
          "transform": "translateX(0)",
          "opacity": "1",
          "visibility": "visible"
        }]
      }, {
        "selector": ".sfjsi-a",
        "duration": "500ms",
        "fill": "forwards",
        "delay": "500ms",
        "keyframes": [{
          "offset": 0,
          "transform": "translateY(calc(600px - 515px))",
          "opacity": "1",
          "visibility": "visible"
        }, {
          "offset": 1,
          "transform": "translateY(0)",
          "opacity": "1",
          "visibility": "visible"
        }]
      }, {
        "selector": ".clbxa-a",
        "duration": "500ms",
        "fill": "forwards",
        "delay": "1500ms",
        "keyframes": [{
          "offset": 0,
          "opacity": 0,
          "visibility": "visible"
        }, {
          "offset": 1,
          "opacity": "1",
          "visibility": "visible"
        }]
      }]
    </script>
  </amp-story-animation>
</amp-story-page>
