<amp-story-page id="{{ include.id }}" class="hagvvhkhio ms-st-pg" auto-advance-after="{{ include.autoAdvance }}">
  <amp-story-grid-layer template="vertical" id="omdgq" class="scrim">
    <div class="letterbox">
      <div class="nzaxq pa nzaxq-a">
        <h5 class="nljkx pa">{{ include.category }}</h5>
        <h2 class="sttpq pa">{{ include.title }}</h2>
      </div>
      <h6 class="foqgw pa foqgw-a">{{ include.date }}</h6>
      
      {% if include.link %}
      <span class="pmkku pa">
        Click Here
        <a
          href="{{ include.link }}"
          role="link"
          data-tooltip-text="Click Here"
          class="story-tooltip pa"
          data-tooltip-icon="https://www.google.com/s2/favicons?domain={{ include.link }}"
          data-vars-ctalink="{{ include.link }}">
        </a>
      </span>
      {% endif %}

      {% if include.type == "image" %}
      <div class="pxout pa">
        <amp-img
          width="919"
          height="684"
          layout="responsive"
          class="img-fill pa"
          src="{{ include.asset }}"
          alt="fwa"
          id="hgajlbldbp">
        </amp-img>
      </div>
      {% else %}
      <amp-video
        class="jpbkc pa"
        layout="responsive"
        width="640"
        height="360"
        poster=""
        autoplay
        alt="podcast"
        id="hgajlbldbp">
        <source src="{{ include.asset }}" type="video/mp4">
      </amp-video>
      {% endif %}

      
    </div>
  </amp-story-grid-layer>

  <amp-story-animation layout="nodisplay" trigger="visibility">
    <script type="application/json">
      [
        {
          "selector": ".nzaxq-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            { "offset": 0, "opacity": 0, "visibility": "visible" },
            { "offset": 1, "opacity": "1", "visibility": "visible" }
          ]
        },
        {
          "selector": ".foqgw-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            { "offset": 0, "transform": "translateX(-332px)", "opacity": "1", "visibility": "visible" },
            { "offset": 1, "transform": "translateX(0)", "opacity": "1", "visibility": "visible" }
          ]
        }
      ]
    </script>
  </amp-story-animation>
</amp-story-page>