{% if include.template == "FULL-VIDEO" %}

<amp-story-page
  id="{{ include.id }}"
  class="kzmxqgyvek ms-st-pg i-amphtml-element i-amphtml-layout-container i-amphtml-built i-amphtml-layout i-amphtml-story-page-loaded"
  i-amphtml-layout="container"
  role="region"
  distance="0"
  aria-hidden="false"
  active=""
>
  <amp-story-grid-layer
    template="fill"
    class="pbguoubp i-amphtml-element i-amphtml-layout-container i-amphtml-story-layer i-amphtml-built i-amphtml-layout"
    i-amphtml-layout="container"
  >
    <amp-video
      class="pbguoub i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-disable-mediasession i-amphtml-poolbound i-amphtml-media-component i-amphtml-video-interface i-amphtml-built i-amphtml-layout"
      layout="responsive"
      width="720"
      height="1280"
      poster=""
      autoplay=""
      muted=""
      id="pbvkzmxqgyvek"
      i-amphtml-layout="responsive"
      preload="auto"
    >
      <i-amphtml-sizer
        slot="i-amphtml-svc"
        style="padding-top: 177.778%;"
      ></i-amphtml-sizer>
      <video
        class="i-amphtml-pool-media i-amphtml-pool-video i-amphtml-fill-content i-amphtml-replaced-content"
        id="i-amphtml-pool-media-4"
        playsinline=""
        webkit-playsinline=""
        preload="auto"
        poster=""
        muted=""
      >
        <source
          src="{{ include.asset }}"
          type="video/mp4"
        />
      </video>
      <i-amphtml-video-icon class="amp-video-eq">
        <div class="amp-video-eq-col">
          <div class="amp-video-eq-filler amp-video-eq-1-1"></div>
          <div class="amp-video-eq-filler amp-video-eq-1-2"></div>
        </div>
        <div class="amp-video-eq-col">
          <div class="amp-video-eq-filler amp-video-eq-2-1"></div>
          <div class="amp-video-eq-filler amp-video-eq-2-2"></div>
        </div>
        <div class="amp-video-eq-col">
          <div class="amp-video-eq-filler amp-video-eq-3-1"></div>
          <div class="amp-video-eq-filler amp-video-eq-3-2"></div>
        </div>
        <div class="amp-video-eq-col">
          <div class="amp-video-eq-filler amp-video-eq-4-1"></div>
          <div class="amp-video-eq-filler amp-video-eq-4-2"></div>
        </div>
      </i-amphtml-video-icon>
    </amp-video>
  </amp-story-grid-layer>

  <div
    class="i-amphtml-story-spinner"
    aria-hidden="true"
    aria-label="Loading video"
  >
    <div class="i-amphtml-story-spinner-container">
      <div class="i-amphtml-story-spinner-layer">
        <div class="i-amphtml-story-spinner-circle-clipper left"></div>
        <div class="i-amphtml-story-spinner-circle-clipper right"></div>
      </div>
    </div>
  </div>
</amp-story-page>


{% else %}

<amp-story-page id="{{ include.id }}" class="hagvvhkhio ms-st-pg" auto-advance-after="{{ include.autoAdvance }}">
  <amp-story-grid-layer template="vertical" id="omdgq" class="scrim">
    <div class="letterbox">
      <div class="nzaxq pa nzaxq-a">
        <h5 class="nljkx pa">{{ include.category }}</h5>
        <h2 class="sttpq pa">{{ include.title }}</h2>
      </div>
      <h6 class="foqgw pa foqgw-a">{{ include.date }}</h6>
      
      {% if include.link %}
      <span class="pmkku pa">
        Click Here
        <a
          href="{{ include.link }}"
          role="link"
          data-tooltip-text="Click Here"
          class="story-tooltip pa"
          data-tooltip-icon="https://www.google.com/s2/favicons?domain={{ include.link }}"
          data-vars-ctalink="{{ include.link }}">
        </a>
      </span>
      {% endif %}

      {% if include.type == "image" %}
      <div class="pxout pa">
        <amp-img
          width="919"
          height="684"
          layout="responsive"
          class="img-fill pa"
          src="{{ include.asset }}"
          alt="fwa"
          id="hgajlbldbp">
        </amp-img>
      </div>
      {% else %}
      <amp-video
        class="jpbkc pa"
        layout="responsive"
        width="640"
        height="360"
        poster=""
        autoplay
        alt="podcast"
        id="hgajlbldbp">
        <source src="{{ include.asset }}" type="video/mp4">
      </amp-video>
      {% endif %}

      
    </div>
  </amp-story-grid-layer>

  <amp-story-animation layout="nodisplay" trigger="visibility">
    <script type="application/json">
      [
        {
          "selector": ".nzaxq-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            { "offset": 0, "opacity": 0, "visibility": "visible" },
            { "offset": 1, "opacity": "1", "visibility": "visible" }
          ]
        },
        {
          "selector": ".foqgw-a",
          "duration": "500ms",
          "fill": "forwards",
          "delay": "0ms",
          "keyframes": [
            { "offset": 0, "transform": "translateX(-332px)", "opacity": "1", "visibility": "visible" },
            { "offset": 1, "transform": "translateX(0)", "opacity": "1", "visibility": "visible" }
          ]
        }
      ]
    </script>
  </amp-story-animation>
</amp-story-page>

{% endif %}