<meta charset="utf-8"> 
		<link href="https://cdn.ampproject.org/v0.js" rel="preload" as="script"> 
		<script async src="https://cdn.ampproject.org/v0.js"></script> 
		<style amp-boilerplate>
			{% include css/head2.css %}
		</style>
		<noscript>
			<style amp-boilerplate>
				body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
			</style>
		</noscript> 
		<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"> 
		<script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script> 
		<script async custom-element="amp-cache-url" src="https://cdn.ampproject.org/v0/amp-cache-url-0.1.js"></script> 
		<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
		<script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
		<script async custom-element="amp-story" src="https://cdn.ampproject.org/v0/amp-story-1.0.js"></script> 
		
		<script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
		<script async custom-element="amp-action-macro" src="https://cdn.ampproject.org/v0/amp-action-macro-0.1.js"></script>

		<title>jtubert.com!</title> 

		<link rel="shortcut icon" href="assets/jtuberticon.jpg" type="image/x-icon"> 
		<script type="application/ld+json">
			{% include js/head3.js %}
		</script> 
		<script type="application/ld+json">
			{% include js/head2.js %}
		</script> 
		<script type="application/ld+json">
			{% include js/head1.js %}
		</script> 
		<meta property="og:url" content="https://jtubert.com"> 
		<meta property="twitter:site" content="@tombras"> 
		<meta property="twitter:creator" content="@jtubert"> 
		<meta property="title" content="jtubert"> 
		<meta property="og:title" content="jtubert"> 
		<meta property="twitter:title" content="jtubert"> 
		<meta property="keywords" name="keywords" content="jtubert, John Tubert, Juan Tubert"> 
		<meta property="twitter:image" content="assets/ms-loexnabwvm.jpg"> 
		<meta property="og:image:url" content="assets/ms-loexnabwvm.jpg"> 
		<meta name="twitter:card" content="summary_large_image"> 
		<link rel="canonical" href="https://jtubert.com"> 
		<style amp-custom>
			{% include css/head.css %}
		</style> 
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?display=swap&family=Roboto Slab:400|Roboto:400,500|Open Sans:400,700|Montserrat:400,700|Permanent+Marker|Montserrat|Rubik+Bubbles|Concert+One|Zilla+Slab|Quicksand|Oleo+Script|Silkscreen|Archivo+Black" media="all"> 
	